@model ECommerce_Login_Register.Models.Balance

@{
    ViewBag.Title = "Increase";

    //Id var ise bunu kullan
    if (Session["id"] != null)
    {
        Layout = "~/Views/Shared/Admin_Layout.cshtml";
    }
    //yoksa da bunu
    else
    {
        Layout = "~/Views/Shared/User_Layout.cshtml";
    }

}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Layouts</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Layouts</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Balance</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @using (Html.BeginForm("Inc", "BalanceCRT", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Balance</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                @Html.LabelFor(model => model.Butce, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Butce, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Butce, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    <div>
        <a class="btn btn-secondary" href="/BalanceCRT/Index">Back to List</a>
    </div>
</main>
